config/n8n/flows/escalation.json
{
  "name": "Task Escalation Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "secondsInterval": 3600
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_DATABASE_ID_TASKS }}",
        "filter": {
          "and": [
            {
              "property": "Status",
              "select": {
                "equals": "Blocked"
              }
            },
            {
              "property": "Blocked Since",
              "date": {
                "past_week": {}
              }
            }
          ]
        }
      },
      "id": "get-blocked-tasks",
      "name": "Get Blocked Tasks",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-tasks",
      "name": "Check if Tasks Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "update",
        "databaseId": "={{ $env.NOTION_DATABASE_ID_TASKS }}",
        "pageId": "={{ $json.id }}",
        "properties": {
          "Status": {
            "select": {
              "name": "Escalated"
            }
          },
          "Priority": {
            "select": {
              "name": "High"
            }
          },
          "Escalation Date": {
            "date": {
              "start": "={{ new Date().toISOString() }}"
            }
          }
        }
      },
      "id": "escalate-task",
      "name": "Escalate Task",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "create",
        "parent": {
          "databaseId": "={{ $env.NOTION_DATABASE_ID_RISKS }}"
        },
        "properties": {
          "Title": {
            "title": [
              {
                "text": {
                  "content": "Escalated Task: {{ $json.properties.Name.title[0].text.content }}"
                }
              }
            ]
          },
          "Risk Type": {
            "select": {
              "name": "Task Blockage"
            }
          },
          "Severity": {
            "select": {
              "name": "Medium"
            }
          },
          "Description": {
            "rich_text": [
              {
                "text": {
                  "content": "Task has been blocked for more than 1 week and has been escalated."
                }
              }
            ]
          }
        }
      },
      "id": "create-risk",
      "name": "Create Risk Entry",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Blocked Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Blocked Tasks": {
      "main": [
        [
          {
            "node": "Check if Tasks Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Tasks Exist": {
      "main": [
        [
          {
            "node": "Escalate Task",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Escalate Task": {
      "main": [
        [
          {
            "node": "Create Risk Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
